<html>

<head>
    <style>
        .blue-button{
            background-color:blue;
        }
    </style>
</head>

<body>
    <div id="root">
        <!-- Push new item to list -->
        <ul>
            <li v-for="name in names" v-text="name">
            </li>
        </ul>
        <input type="text" v-model="newName">
        <button @click="addName" :title="title">Add Name</button>

        <!--bind class conditionally-->
        <button :class="{'blue-button':isBlue}" @click="changeButtonColor">Change color </button>

        <!--bind disabled attribute-->
        <button :disabled="isDisabled" @click="disableButton">Disable me</button>

        <!-- Computed properties -->
        <h1>All tasks</h1>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h2>Completed tasks</h2>
        <ul>
            <li v-for="task in completedTasks" v-text="task.description"></li>
        </ul>
        <h2>Uncompleted tasks</h2>
        <ul>
            <li v-for="task in uncompletedTasks" v-text="task.description"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({

            el: "#root",

            data: {
                newName: "",
                names: ["Fiona", "Dan"],
                title: "This is a button",

                isBlue: false,
                isDisabled: false,

                tasks:[
                    {"description":"Wash dishes", "completed":false},
                    {"description":"Laundry","completed":false},
                    {"description":"Feed Bambi","completed": true},
                    {"description":"Clean Bambi's litter box","completed":true}
                ]
            },

            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = "";
                },

                changeButtonColor(){
                    this.isBlue = true;
                },

                disableButton(){
                    this.isDisabled= true;
                }
            },

            computed: {
                completedTasks() {
                    return this.tasks.filter(task => task.completed)
                },
                uncompletedTasks(){
                    return this.tasks.filter(task => !task.completed)
                }
            },
        })
    </script>
</body>

</html>